﻿{% load socialaccount %}
{% providers_media_js %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Social Sweets</title>
    </head>
    <body>
        {% if is_authenticated %}
            <h1>Hi, {{ full_name }}!</h1><br>

            <img src="https://graph.facebook.com/{{ fb_id }}/picture?type=large" /> <br><br>

            <a href="/logout/">Log out</a>
        {% else %}
            <h1>Hi, Stranger!</h1>
            <a href="{% provider_login_url "facebook" method="js_sdk" %}">Please Connect through Facebook</a>
        {% endif %}
    </body>
</html>
